:root {
  --soft-blue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);
  --very-dark-blue: hsl(217, 54%, 11%);
  --very-dark-blue1: hsl(216, 50%, 16%);
  --very-dark-blur2: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);
}

body {
  background-color: var(--very-dark-blue);
  font-family: 'Outfit', sans-serif;
}

.container {
  background-color: var(--very-dark-blue1);
  border-radius: 10px;
  position: relative;
  margin: 50px auto;
  height: 600px;
  width: 340px;
}

img {
  border-radius: 10px;
  position: absolute;
  left: 6.1%;
  top: 3%;
  height: 300px;
  width: 300px;
}

.hover-img {
  border-radius: 10px;
  background-color: hsl(178, 100%, 50%, 50%);
  position: absolute;
  left: 6.1%;
  top: 3%;
  height: 300px;
  width: 300px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.view {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 50px;
  width: 50px;
  transform: translate(-50%, -50%);
}

.hover-img:hover {
  cursor: pointer;
  opacity: 1;
}

h1 {
  color: var(--white);
  font-weight: 600;
  font-size: 18px;
  position: absolute;
  left: 10%;
  top: 10%;
}

h1:hover {
  color: var(--cyan);
  cursor: pointer;
}

p {
  color: var(--soft-blue);
  font-weight: 300;
  position: absolute;
  left: 8%;
  top: 60%;
  width: 80%;
}

.price {
  color: var(--cyan);
  position: absolute;
  left: 13%;
  top: 75.4%;
}

.info {
  position: absolute;
  top: 53%;
  width: 80%;
}

.ethereum {
  position: absolute;
  left: 8%;
  top: 78%;
  height: 20px;
  width: 10px;
}

.clock {
  position: absolute;
  left: 72%;
  top: 75.3%;
}

.clock-img {
  position: absolute;
  height: 20px;
  width: 20px;
  left: 65%;
  top: 78%;
}

hr {
  border: 0.5px solid var(--very-dark-blur2);
  width: 300px;
  position: absolute;
  left: 6%;
  top: 85%;
}

.avatar {
  border: 1px solid white;
  border-radius: 25px;
  position: absolute;
  height: 30px;
  width: 30px;
  top: 90%;
}

.creator {
  position: absolute;
  left: 20%;
  top: 88%;
}

span {
  color: white;
  font-weight: 400;
}

span:hover {
  color: var(--cyan);
  cursor: pointer;
}

.attribution {
  color: white;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
